In [1]:
import pandas as pd
df = pd.read_csv('../data/SPY.csv', index_col='Date', parse_dates=['Date'])

# shift()함수: 인덱스에 연결된 데이터를 일정 간격으로 이동시키는 함수 디폴트 파라미터값이 periods=1 이다
df['Close_lag1'] = df['Close'].shift()
df.head()

,Open,High,Low,Close,Adj Close,Volume,Close_lag1
Date,,,,,,,
2020-03-04,306.119995,313.100006,303.329987,312.859985,307.124481,176613400,NaN
2020-03-05,304.980011,308.470001,300.010010,302.459991,296.915161,186366800,312.859985
2020-03-06,293.149994,298.779999,290.230011,297.459991,292.006836,228667200,302.459991
2020-03-09,275.299988,284.190002,273.450012,274.230011,269.202698,309417300,297.459991
2020-03-10,284.640015,288.519989,273.500000,288.420013,283.132568,276444100,274.230011

In [2]:
# pct_change()함수: 현재 값과 이전 요소 값의 백분율 변화량
df['pct_change'] = df['Close'].pct_change()
df.head()

,Open,High,Low,Close,Adj Close,Volume,Close_lag1,pct_change
Date,,,,,,,,
2020-03-04,306.119995,313.100006,303.329987,312.859985,307.124481,176613400,NaN,NaN
2020-03-05,304.980011,308.470001,300.010010,302.459991,296.915161,186366800,312.859985,-0.033242
2020-03-06,293.149994,298.779999,290.230011,297.459991,292.006836,228667200,302.459991,-0.016531
2020-03-09,275.299988,284.190002,273.450012,274.230011,269.202698,309417300,297.459991,-0.078094
2020-03-10,284.640015,288.519989,273.500000,288.420013,283.132568,276444100,274.230011,0.051745

In [3]:
# diff()함수: 변화량을 구해주는 것(뺄셈)
df['Close_diff'] = df['Close'].diff()
df.head()

,Open,High,Low,Close,Adj Close,Volume,Close_lag1,pct_change,Close_diff
Date,,,,,,,,,
2020-03-04,306.119995,313.100006,303.329987,312.859985,307.124481,176613400,NaN,NaN,NaN
2020-03-05,304.980011,308.470001,300.010010,302.459991,296.915161,186366800,312.859985,-0.033242,-10.399994
2020-03-06,293.149994,298.779999,290.230011,297.459991,292.006836,228667200,302.459991,-0.016531,-5.000000
2020-03-09,275.299988,284.190002,273.450012,274.230011,269.202698,309417300,297.459991,-0.078094,-23.229980
2020-03-10,284.640015,288.519989,273.500000,288.420013,283.132568,276444100,274.230011,0.051745,14.190002

In [4]:
df = pd.read_csv('../data/SPY.csv', index_col='Date', parse_dates=['Date'])

# rolling()함수: 일정 구간의 데이터들의 평균,최소,최대 등을 계산할 때 쓰인다
# 이동평균선 같은거 구할 때 사용하면 좋다
# window=5는 윈도우 사이즈가 5이기 때문에 처음 4개의 데이터는 nan이 나온다. 그 후에 한 칸씩 내려오면서 함
df['MA'] = df['Close'].rolling(window=5).mean()
df

,Open,High,Low,Close,Adj Close,Volume,MA
Date,,,,,,,
2020-03-04,306.119995,313.100006,303.329987,312.859985,307.124481,176613400,NaN
2020-03-05,304.980011,308.470001,300.010010,302.459991,296.915161,186366800,NaN
2020-03-06,293.149994,298.779999,290.230011,297.459991,292.006836,228667200,NaN
2020-03-09,275.299988,284.190002,273.450012,274.230011,269.202698,309417300,NaN
2020-03-10,284.640015,288.519989,273.500000,288.420013,283.132568,276444100,295.085998
...,...,...,...,...,...,...,...
2021-02-25,390.410004,391.880005,380.779999,382.329987,382.329987,146670500,387.731995
2021-02-26,384.350006,385.579987,378.230011,380.359985,380.359985,152534900,385.797992
2021-03-01,385.589996,390.920013,380.570007,389.579987,389.579987,104945700,386.307990
2021-03-02,389.820007,390.070007,386.000000,386.540009,386.540009,79389200,386.115991
2021-03-03,385.790009,386.829987,381.309998,381.420013,381.420013,119482700,384.045996

In [5]:
# resample()함수: 시간 간격을 재종하는 기능을 한다
index = pd.date_range('2019-01-01', '2019-10-01', freq='B')
series = pd.Series(range(len(index)), index=index)
series

2019-01-01      0
2019-01-02      1
2019-01-03      2
2019-01-04      3
2019-01-07      4
             ...
2019-09-25    191
2019-09-26    192
2019-09-27    193
2019-09-30    194
2019-10-01    195
Freq: B, Length: 196, dtype: int64

In [6]:
# 각 달의 마지막 날(M)을 기준으로 데이터를 정렬하고, 거기에 sum()을 붙여 월별 합계를 구할 수 있다
series.resample(rule='M').sum()

2019-01-31     253
2019-02-28     650
2019-03-31    1113
2019-04-30    1639
2019-05-31    2231
2019-06-30    2370
2019-07-31    3220
2019-08-31    3575
2019-09-30    3864
2019-10-31     195
Freq: M, dtype: int64

In [7]:
# 월말 일자만 확인
series.resample(rule='M').last()

2019-01-31     22
2019-02-28     42
2019-03-31     63
2019-04-30     85
2019-05-31    108
2019-06-30    128
2019-07-31    151
2019-08-31    173
2019-09-30    194
2019-10-31    195
Freq: M, dtype: int64

In [8]:
# 월초 일자만 확인
series.resample(rule='M').first()

2019-01-31      0
2019-02-28     23
2019-03-31     43
2019-04-30     64
2019-05-31     86
2019-06-30    109
2019-07-31    129
2019-08-31    152
2019-09-30    174
2019-10-31    195
Freq: M, dtype: int64